.custom-button {
  min-width: 165px;
  width: auto;
  height: 50px;
  letter-spacing: 0.5px;
  line-height: 50px;
  border-radius: 4px;
  padding: 0 35px 0 35px;
  font-size: 15px;
  background-color: black;
  color: white;
  text-transform: uppercase;
  font-weight: bolder;
  border: none;
  display: flex;
  justify-content: center;
  cursor: pointer;

  &:hover {
    background-color: white;
    color: black;
    border: 1px solid black;
  }

  &.primary {
    background-color: #4285f4;
    color: #fff;

    &:hover {
      background: #357ae8;
      border: none;
    }
  }

  &.inverted {
    background-color: #fff;
    color: #000;
    border: 1px solid #000;

    &:hover {
      background-color: #000;
      color: #fff;
      border: none;
    }
  }
}