.collection-item {
  // width: 16vw;
  // display: flex;
  // flex-direction: column;
  // height: 420px;
  // align-items: center;
  // position: relative;

  display: flex;
  flex-direction: column;
  height: 280px;
  align-items: center;
  position: relative;
  border-radius: 12px;
  /* background: white; */
  box-shadow: 4px 4px 15px #2f2f2f0f;
  border: 1px solid #f3f3f3;

  .image {
    width: 100%;
    height: 320px;
    background-size: cover;
    background-position: center;
  }

  .custom-button {
    width: 80%;
    opacity: 0.7;
    position: absolute;
    top: 10rem;
    display: none;
    height: 45px !important;
    font-size: 13px !important;
    font-weight: 900;
    line-height: 45px;

    border: none;
  }

  &:hover {
    .image {
      opacity: 0.8;
    }

    .custom-button {
      opacity: 0.85;
      display: flex;
    }
  }

  .collection-footer {
    width: 100%;
    padding: 10.5px 23px;
    font-size: 15px;

    .name {
      margin-bottom: 1px;
      display: block;
    }

    .price {
      display: block;
      margin-bottom: 1px;
      font-weight: 700;
    }
  }
}