.collection-preview {
    // display: flex;
    // flex-direction: column;
    margin-bottom: 30px;
  
    .title {
      font-size: 28px;
      margin-bottom: 25px;
    }
  
    .preview {
      // display: flex;
      // justify-content: space-between;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
      grid-template-rows: 1fr;
      grid-column-gap: 12px;
  
    }
  }
  