  .menu-item {
    min-width: 30%;
    height: 350px;
    flex: 1 1 auto;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    background-position: center;
    background-size: cover; 
    margin: 0 7.5px 15px;
    overflow: hidden;

    &.large{
        height: 380px;
    }
    &:first-child {
      margin-right: 7.5px;
    }
  
    &:last-child {
      margin-left: 7.5px;
    }

    &:hover{
        cursor: pointer;
        & .background-image{
            transform: scale(1.1);
            transition: transform 6s cubic-bezier(0.25, 0.46, 0.45, 0.94);
        }
    }
    .background-image{
        height: 100%;
        width: 100%;
        background-blend-mode: overlay;
        background-color: #ffffff36; 
        background-size: cover ;
        background-position: center;
    }
  
    .content {
      height: 90px;
      padding: 0 25px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      position: absolute ;
  
      .title {
        font-weight: 800;
        margin-bottom: 6px;
        font-size: 23px;
        text-transform: capitalize;
        color: #000;
      }
  
      .subtitle {
        font-weight: lighter;
        font-size: 13px;
        color: #000;
      }
    }
  }