@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,800&display=swap');
body{
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
}

@font-face{
  font-family:'Blorado';
  src:url("./assets/SofiaProLight-webfont.woff2") format("woff2");
  font-weight:400;
  font-display:fallback;
  font-style:normal
}

a {
  text-decoration: none;
  color: black;
  font-size: 14px;
  letter-spacing: 0.5px;
}
a, p, h3, h4, h5, h6 {
  letter-spacing: 0.5px;
}
.h1, h1 {
  font-family: blorado !important;
}
*{
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}

.pageSlider-enter.fades{
  /* transform: translateY(100%); */
  opacity: 0;
}
.pageSlider-exit.fades{
  opacity: 1;
  /* transform: translateY(-100%); */
}
.pageSlider-enter.pageSlider-enter-active{
  opacity:1;
  /* transform: translateY(0%); */
  transition:all 1s ease;
}